In [ ]:
# !pip install -U -q PyDrive
# !pip install google-colab

# !pip install flask-ngrok
# !pip install flask==0.12.2  # Newer versions of flask don't work in Colab
# See https://github.com/plotly/dash/issues/257

import pandas as pd

#to import files from google drive
from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive
from google.colab import auth 
from oauth2client.client import GoogleCredentials
from google.colab import drive

from flask import Flask
from flask_ngrok import run_with_ngrok

In [ ]:
app = Flask(__name__)
run_with_ngrok(app)  # Start ngrok when app is run

@app.route("/")
def hello():
    return "Hello World!"

if __name__ == '__main__':
    app.run()  # If address is in use, may need to terminate other sessions:
               # Runtime > Manage Sessions > Terminate Other Sessions

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://1571-34-150-201-255.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

In [ ]:
# 1. Authorize Google Drive (required only for the first time, then comment it)
# drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/Healthcare_Support_Occupations.csv")

Mounted at /content/gdrive

In [ ]:
df.shape

(636, 11)

In [ ]:
df.columns

Index(['ClassSpecID', 'EmployerID', 'Class_Title', 'Class_Concept',
       'ExamplesOfDuties', 'MinimumQualifications', 'SupplementalInfo',
       'BLS_Major', 'BLS_Minor', 'BLS_Broad', 'BLS_Detailed'],
      dtype='object')

In [ ]:
df.fillna('', inplace=True)

In [ ]:
df['New_JD'] = df['Class_Concept'] + "<br><br>" + df['ExamplesOfDuties'] + "<br><br>" + df['MinimumQualifications'] + "<br><br>" + df['SupplementalInfo']

In [ ]:
df.head()

,ClassSpecID,EmployerID,Class_Title,Class_Concept,ExamplesOfDuties,MinimumQualifications,SupplementalInfo,BLS_Major,BLS_Minor,BLS_Broad,BLS_Detailed,New_JD
0,793,9,MEDICAL CONSULTANT,"Under direction, to provide services for vario...","• Conducts public health clinics, gathers and...",Experience: One year of post-certification ex...,,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,"Under direction, to provide services for vario..."
1,883,9,NURSE PRACTITIONER I,"<div style=""text-align: justify;"">Under medica...","<div style=""text-align: justify;""><br>• Takes ...","<div style=""text-align: justify;"">Experience: ...",,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,"<div style=""text-align: justify;"">Under medica..."
2,884,9,NURSE PRACTITIONER II,<div>Under medical supervision of a physician ...,<div><br>• Takes patient health histories; per...,<div>Experience: One year of experience as a n...,,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,<div>Under medical supervision of a physician ...
3,885,9,NURSE PRACTITIONER III,<div>Under medical supervision of a physician ...,<div>• Takes patient health histories; perform...,Experience: Three years of experience as a nur...,,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,<div>Under medical supervision of a physician ...
4,888,9,NURSE PRACTITIONER I - PER DIEM,Under medical supervision of a physician and w...,&bull; Takes patient health histories; perform...,Experience: None required. Knowledge of: Tec...,,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,Under medical supervision of a physician and w...

## Code to generate HTML Table

In [ ]:
# def pair_html(ClassSpecID1, ClassSpecID2):
#   html_text = "<table> <tr> <th>Pair ID</th> <th>Class Title-1</th> <th>Class Title-2</th> <th>Class Title Text Sim Score</th> <th>Job Desc-1</th> <th>Job Desc-2</th> <th>USE Sim Score</th> <th>SBERT Sim Score</th> </tr> <tr> <td>"+ str(str(ClassSpecID1)+"-"+ str(ClassSpecID2)) +"</td> <td>"+ str(df[df['ClassSpecID']==ClassSpecID1]['Class_Title'][0]) +"</td> <td>"+ str(df[df['ClassSpecID']==ClassSpecID2]['Class_Title'][1]) + "</td> <td>  </td> <td>"+ str(df[df['ClassSpecID']==ClassSpecID1]['New_JD'][0]) +"</td> <td>"+ str(df[df['ClassSpecID']==ClassSpecID2]['New_JD'][1]) + " </td> <td>  </td> <td>  </td> </tr> </table>"
#   with open(str(ClassSpecID1)+"-"+ str(ClassSpecID2) + ".html", mode="w") as f:
#     f.write(html_text)

In [ ]:
def pair_html(ClassSpecID1, ClassSpecID2):
  html_text = '<!doctype html> <html lang="en"> <head> <title>GT UI</title> <meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">'+"<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> " + '<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <link rel="stylesheet" href="css\style.css" > </head> <style> table, th, td { border: 1px solid black; border-collapse: collapse; }, td:nth-child(even), th:nth-child(even) {background-color: #D6EEEE;} </style> <body> <section class="ftco-section"> <div class="container"> <div class="row justify-content-center"> <div class="col-md-6 text-center mb-5"> <h1 class="heading-section">GT UI</h1> </div> </div> <div class="row"> <div class="col-md-12"> <! <h4 class="text-center mb-4"> </h4> <div class="table-wrap"> <table class="table" style="height: 275px; width: 100%" border=1 frame=hsides rules=rows> <thead class="thead-primary"> <tr style="width: 100%; vertical-align:top"> <th>Pair ID</th> <th>Class Title-1</th> <th>Class Title-2</th> <th>Class Title Text Sim Score</th> <th>Job Desc-1</th> <th>Job Desc-2</th> <th>USE Sim Score</th> <th>SBERT Sim Score</th> </tr> </thead> <tbody> <tr style="vertical-align:top"> <td scope="row" class="scope" >' + str(str(ClassSpecID1)+"-"+ str(ClassSpecID2)) + '</td> <td>' + str(df[df["ClassSpecID"]==ClassSpecID1]["Class_Title"][0]) + '</td> <td>' + str(df[df["ClassSpecID"]==ClassSpecID2]["Class_Title"][1]) + '</td> <td>  </td> <td>'+ str(df[df["ClassSpecID"]==ClassSpecID1]["New_JD"][0]) + '</td> <td>' + str(df[df["ClassSpecID"]==ClassSpecID2]["New_JD"][1]) + '</td> <td>  </td> <td>  </td> </tr> </tbody> </table> </div> </div> </div> </div> </section> <script src="js/jquery.min.js"></script> <script src="js/popper.js"></script> <script src="js/bootstrap.min.js"></script> <script src="js/main.js"></script> </body> </html>'
  with open(str(ClassSpecID1)+"-"+ str(ClassSpecID2) + ".html", mode="w") as f:
    f.write(html_text)

In [ ]:
pair_html(793, 883)

In [ ]:
ClassSpecID2 = 883
# df[df['ClassSpecID']==ClassSpecID1]['Class_Title'][0]
df[df['ClassSpecID']==ClassSpecID2]['New_JD']

1    <div style="text-align: justify;">Under medica...
Name: New_JD, dtype: object