## Download/Import Dependencies

In [ ]:
!python --version
# !pip list -v | grep google-colab

Python 3.7.13

In [ ]:
# ### Install these when running for the first time  ######
!pip install contractions
!pip install mistletoe
!pip install html2text

!pip install -U -q PyDrive
!pip install google-colab

import nltk
nltk.download('stopwords')  
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

!pip install --upgrade tensorflow-gpu
!pip install tensorflow-hub
!pip install sentence-transformers #install sentence transformer models

!pip install umap-learn
!pip install hdbscan

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting contractions
  Downloading contractions-0.1.72-py2.py3-none-any.whl (8.3 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting anyascii
  Downloading anyascii-0.3.1-py3-none-any.whl (287 kB)
     |████████████████████████████████| 287 kB 7.3 MB/s
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 78.1 MB/s
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.1 contractions-0.1.72 pyahocorasick-1.4.4 textsearch-0.0.21
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mistletoe
  Downloading mistletoe-0.8.2-py3-none-any.whl (30 kB)
Installing collected packages: mistletoe
Successfully installed mistletoe-0.8.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting html2text
  Downloading html2text-2020.1.16-py3-none-any.whl (32 kB)
Installing collected packages: html2text
Successfully installed html2text-2020.1.16
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-colab in /usr/local/lib/python3.7/dist-packages (1.0.0)
Requirement already satisfied: tornado~=5.1.0 in /usr/local/lib/python3.7/dist-packages (from google-colab) (5.1.1)
Requirement already satisfied: astor~=0.8.1 in /usr/local/lib/python3.7/dist-packages (from google-colab) (0.8.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from google-colab) (1.3.5)
Requirement already satisfied: ipykernel~=4.10 in /usr/local/lib/python3.7/dist-packages (from google-colab) (4.10.1)
Requirement already satisfied: portpicker~=1.3.1 in /usr/local/lib/python3.7/dist-packages (from google-colab) (1.3.9)
Requirement already satisfied: requests~=2.23.0 in /usr/local/lib/python3.7/dist-packages (from google-colab) (2.23.0)
Requirement already satisfied: google-auth>=1.17.2 in /usr/local/lib/python3.7/dist-packages (from google-colab) (1.35.0)
Requirement already satisfied: ipython~=5.5.0 in /usr/local/lib/python3.7/dist-packages (from google-colab) (5.5.0)
Requirement already satisfied: notebook~=5.3.0 in /usr/local/lib/python3.7/dist-packages (from google-colab) (5.3.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google-colab) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google-colab) (4.2.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google-colab) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google-colab) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.17.2->google-colab) (57.4.0)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel~=4.10->google-colab) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel~=4.10->google-colab) (5.3.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython~=5.5.0->google-colab) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython~=5.5.0->google-colab) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython~=5.5.0->google-colab) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython~=5.5.0->google-colab) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython~=5.5.0->google-colab) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython~=5.5.0->google-colab) (0.8.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google-colab) (0.2.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google-colab) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google-colab) (0.13.3)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google-colab) (4.11.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google-colab) (1.8.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google-colab) (5.4.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook~=5.3.0->google-colab) (2.11.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel~=4.10->google-colab) (2.8.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel~=4.10->google-colab) (23.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->google-colab) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->google-colab) (2022.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython~=5.5.0->google-colab) (0.2.5)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.17.2->google-colab) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests~=2.23.0->google-colab) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests~=2.23.0->google-colab) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests~=2.23.0->google-colab) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests~=2.23.0->google-colab) (3.0.4)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook~=5.3.0->google-colab) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook~=5.3.0->google-colab) (2.0.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google-colab) (0.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google-colab) (0.6.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google-colab) (5.0.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google-colab) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google-colab) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook~=5.3.0->google-colab) (1.5.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook~=5.3.0->google-colab) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook~=5.3.0->google-colab) (2.16.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google-colab) (5.8.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google-colab) (0.18.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google-colab) (4.12.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google-colab) (4.1.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->notebook~=5.3.0->google-colab) (21.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat->notebook~=5.3.0->google-colab) (3.8.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook~=5.3.0->google-colab) (0.5.1)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-gpu
  Downloading tensorflow_gpu-2.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (511.7 MB)
     |████████████████████████████████| 511.7 MB 5.7 kB/s
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.47.0)
Collecting keras<2.10.0,>=2.9.0rc0
  Downloading keras-2.9.0-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 56.5 MB/s
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (14.0.1)
Collecting flatbuffers<2,>=1.12
  Downloading flatbuffers-1.12-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (57.4.0)
Collecting tensorboard<2.10,>=2.9
  Downloading tensorboard-2.9.1-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 59.1 MB/s
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.21.6)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.15.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.14.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.17.3)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (4.1.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.26.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.3.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (3.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (0.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.2)
Collecting tensorflow-estimator<2.10.0,>=2.9.0rc0
  Downloading tensorflow_estimator-2.9.0-py2.py3-none-any.whl (438 kB)
     |████████████████████████████████| 438 kB 70.1 MB/s
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (21.3)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-gpu) (1.6.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow-gpu) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow-gpu) (1.5.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (1.35.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (2.23.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow-gpu) (1.0.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow-gpu) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow-gpu) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow-gpu) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow-gpu) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow-gpu) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow-gpu) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow-gpu) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow-gpu) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow-gpu) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow-gpu) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow-gpu) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow-gpu) (3.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow-gpu) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, gast, flatbuffers, tensorflow-gpu
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.8.0
    Uninstalling tensorflow-estimator-2.8.0:
      Successfully uninstalled tensorflow-estimator-2.8.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.8.0
    Uninstalling tensorboard-2.8.0:
      Successfully uninstalled tensorboard-2.8.0
  Attempting uninstall: keras
    Found existing installation: keras 2.8.0
    Uninstalling keras-2.8.0:
      Successfully uninstalled keras-2.8.0
  Attempting uninstall: gast
    Found existing installation: gast 0.5.3
    Uninstalling gast-0.5.3:
      Successfully uninstalled gast-0.5.3
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 2.0
    Uninstalling flatbuffers-2.0:
      Successfully uninstalled flatbuffers-2.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.2+zzzcolab20220719082949 requires keras<2.9,>=2.8.0rc0, but you have keras 2.9.0 which is incompatible.
tensorflow 2.8.2+zzzcolab20220719082949 requires tensorboard<2.9,>=2.8, but you have tensorboard 2.9.1 which is incompatible.
tensorflow 2.8.2+zzzcolab20220719082949 requires tensorflow-estimator<2.9,>=2.8, but you have tensorflow-estimator 2.9.0 which is incompatible.
Successfully installed flatbuffers-1.12 gast-0.4.0 keras-2.9.0 tensorboard-2.9.1 tensorflow-estimator-2.9.0 tensorflow-gpu-2.9.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-hub in /usr/local/lib/python3.7/dist-packages (0.12.0)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-hub) (3.17.3)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-hub) (1.21.6)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.8.0->tensorflow-hub) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sentence-transformers
  Downloading sentence-transformers-2.2.2.tar.gz (85 kB)
     |████████████████████████████████| 85 kB 3.5 MB/s
Collecting transformers<5.0.0,>=4.6.0
  Downloading transformers-4.20.1-py3-none-any.whl (4.4 MB)
     |████████████████████████████████| 4.4 MB 45.5 MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (4.64.0)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.12.0+cu113)
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.13.0+cu113)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.7.3)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (3.7)
Collecting sentencepiece
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 59.9 MB/s
Collecting huggingface-hub>=0.4.0
  Downloading huggingface_hub-0.8.1-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 15.0 MB/s
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (21.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.12.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.7.1)
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 89.2 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.1.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.23.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.9->huggingface-hub>=0.4.0->sentence-transformers) (3.0.9)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 70.6 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.6.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->huggingface-hub>=0.4.0->sentence-transformers) (3.8.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk->sentence-transformers) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk->sentence-transformers) (7.1.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2022.6.15)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->sentence-transformers) (7.1.2)
Building wheels for collected packages: sentence-transformers
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.2.2-py3-none-any.whl size=125938 sha256=8673ca3e15f734b6590edfbc3de54b42b0086fc43aa6d4c329ab7b8bc14ff5c2
  Stored in directory: /root/.cache/pip/wheels/bf/06/fb/d59c1e5bd1dac7f6cf61ec0036cc3a10ab8fecaa6b2c3d3ee9
Successfully built sentence-transformers
Installing collected packages: pyyaml, tokenizers, huggingface-hub, transformers, sentencepiece, sentence-transformers
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
Successfully installed huggingface-hub-0.8.1 pyyaml-6.0 sentence-transformers-2.2.2 sentencepiece-0.1.96 tokenizers-0.12.1 transformers-4.20.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting umap-learn
  Downloading umap-learn-0.5.3.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 4.8 MB/s
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.21.6)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.0.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.7.3)
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (0.51.2)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.7.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 42.7 MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from umap-learn) (4.64.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn) (57.4.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn) (0.34.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from pynndescent>=0.5->umap-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->umap-learn) (3.1.0)
Building wheels for collected packages: umap-learn, pynndescent
  Building wheel for umap-learn (setup.py) ... done
  Created wheel for umap-learn: filename=umap_learn-0.5.3-py3-none-any.whl size=82829 sha256=76241fb8e0097074394cba01d3e23c26aeebf750b5ba60879b1b9aed349c8740
  Stored in directory: /root/.cache/pip/wheels/b3/52/a5/1fd9e3e76a7ab34f134c07469cd6f16e27ef3a37aeff1fe821
  Building wheel for pynndescent (setup.py) ... done
  Created wheel for pynndescent: filename=pynndescent-0.5.7-py3-none-any.whl size=54286 sha256=e9ae4f7d44f8a7d7ded74283d2f4eaaa6bc2a458d9d76e8f69d6ec8d9f9e8fa9
  Stored in directory: /root/.cache/pip/wheels/7f/2a/f8/7bd5dcec71bd5c669f6f574db3113513696b98f3f9b51f496c
Successfully built umap-learn pynndescent
Installing collected packages: pynndescent, umap-learn
Successfully installed pynndescent-0.5.7 umap-learn-0.5.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting hdbscan
  Downloading hdbscan-0.8.28.tar.gz (5.2 MB)
     |████████████████████████████████| 5.2 MB 7.1 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (1.21.6)
Requirement already satisfied: joblib>=1.0 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (1.1.0)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (1.7.3)
Requirement already satisfied: cython>=0.27 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (0.29.30)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->hdbscan) (3.1.0)
Building wheels for collected packages: hdbscan
  Building wheel for hdbscan (PEP 517) ... done
  Created wheel for hdbscan: filename=hdbscan-0.8.28-cp37-cp37m-linux_x86_64.whl size=2342054 sha256=ea205b763ce7bec5c16ca0697f338f793bc114f83ad702b8444faf1885d88d8b
  Stored in directory: /root/.cache/pip/wheels/6e/7a/5e/259ccc841c085fc41b99ef4a71e896b62f5161f2bc8a14c97a
Successfully built hdbscan
Installing collected packages: hdbscan
Successfully installed hdbscan-0.8.28

In [ ]:
import re, string, unicodedata    
import contractions   
from bs4 import BeautifulSoup

from mistletoe import markdown
from html2text import HTML2Text

import numpy as np
import pandas as pd 

from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem.wordnet import WordNetLemmatizer 
import matplotlib.pyplot as plt 
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

#to import files from google drive
from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive
from google.colab import auth 
from oauth2client.client import GoogleCredentials
from google.colab import drive

import tensorflow as tf
import tensorflow_hub as hub

from sentence_transformers import SentenceTransformer, util

import difflib
import webbrowser

from datetime import datetime as dt
import time

import copy

import umap.umap_ as umap
import hdbscan

In [ ]:
# Runtime GPU info
# gpu_info = !nvidia-smi
# gpu_info = '\n'.join(gpu_info)
# if gpu_info.find('failed') >= 0:
#   print('Not connected to a GPU')
# else:
#   print(gpu_info)

In [ ]:
# Runtime Memory
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 27.3 gigabytes of available RAM

You are using a high-RAM runtime!

## Compress and upload the data to  Google Drive and Import the data from there

In [ ]:
# 1. Authorize Google Drive (required only for the first time, then comment it)
drive.mount('/content/gdrive', force_remount=True)

# 2. Compress the CSV files to .rar and upload the .rar file on your Google Drive (If compressing to .zip use zip commands instead)

# 3. Unrar the .rar file and put in the path after '-d' below
# !unrar x '/content/gdrive/My Drive/Colab Notebooks/ClassSpecsBLS.rar' -d '/content/gdrive/My Drive/Colab Notebooks/'
# !unrar x '/content/gdrive/My Drive/Colab Notebooks/pair-master.rar' -d '/content/gdrive/My Drive/Colab Notebooks/'

# 4. Read the CSV file from Google Drive saved in the above path
# df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/ClassSpecsBLS.csv')
# df.shape

Mounted at /content/gdrive

In [ ]:
# df.head()

In [ ]:
df.columns

Index(['ClassSpecID', 'EmployerID', 'Class_Title', 'Class_Concept',
       'ExamplesOfDuties', 'MinimumQualifications', 'SupplementalInfo',
       'OtherRequirements', 'OtherTitle1', 'OtherTitle2', 'BLS_Major',
       'BLS_Minor', 'BLS_Broad', 'BLS_Detailed'],
      dtype='object')

## Subsetting the data for analysis: 
Include Jobs which have clear seniority eg. Nurse-1,2,3; Lawyer-1,2,3 etc.

In [ ]:
# #Remove trailing and leading spaces from strings
# df_obj = df.select_dtypes(['object'])
# df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [ ]:
#subset some class titles
df2 = df.loc[df.Class_Title.str.contains("Assistant Caseworker|Community Health Nurse|Nurse Practitioner|Attorney Investigator", na=False)]
# df2.to_csv("test1.csv")
print(df2.shape)
df2.head()
# type(df.Class_Title[0])

(494, 14)

,ClassSpecID,EmployerID,Class_Title,Class_Concept,ExamplesOfDuties,MinimumQualifications,SupplementalInfo,OtherRequirements,OtherTitle1,OtherTitle2,BLS_Major,BLS_Minor,BLS_Broad,BLS_Detailed
2358,3243,168,Assistant Caseworker II,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","<b><u>Knowledge of:</b></u> English usage, sp...",NaN,NaN,NaN,NaN,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides
2360,3245,168,Assistant Caseworker I,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","<b><u>Knowledge of:</b></u> English usage, sp...",NaN,NaN,NaN,NaN,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides
2419,3308,168,Nurse Practitioner,To perform physical screening assessments; to ...,"<b><u>DUTIES</b></u> may include, but are not ...",<b><u>NECESSARY EMPLOYMENT STANDARDS Knowledg...,NaN,NaN,NaN,NaN,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners
3571,4916,141,Family Nurse Practitioner,<strong>Bargaining Unit: CNA - Registered Nurs...,Positions in this class provide in-home or out...,<strong>License Required:</strong> Possession ...,<strong>Knowledge of:</strong><ul>\t<li>The me...,<strong>Under medical direction and consultati...,Established: August 1975<br>Revised: September...,NaN,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners
4394,5875,385,Nurse Practitioner,"Under general supervision, provide health care...","<strong>Duties may include, but are not limite...",<strong>Note: </strong>The level and scope of ...,NaN,NaN,Nurse Practitioner Trainee-Nurse Practitioner,"Established: 10/26/1978<br>Revised: 8/29/2005,...",Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners

In [ ]:
# sample_titles = ['Assistant Caseworker I','Assistant Caseworker II', 'Assistant Caseworker III',\
#                 #  'Community Health Nurse 3A', 'Community Health Nurse 2A', 'Community Health Nurse 1A',\
#                  'Nurse Practitioner I','Nurse Practitioner II',\
#                  "State's Attorney Investigator I", "State's Attorney Investigator II", "State's Attorney Investigator III"]

# sample_BLS_Detailed = ['Information and Record Clerks, All Other', 'Nurse Practitioners', 'Home Health Aides', 'Lawyers', 'Registered Nurses']
# # df['Class_Title'] = df['Class_Title'].apply(lambda x: str(x).strip())
# df2 = df[df['BLS_Detailed'].isin(sample_BLS_Detailed)]
# print(df2.shape)
# df2.groupby(['BLS_Detailed']).size()
# df2.head()

(15646, 14)

BLS_Detailed
Home Health Aides                            295
Information and Record Clerks, All Other    3545
Lawyers                                     8164
Nurse Practitioners                          636
Registered Nurses                           3006
dtype: int64

In [ ]:
# describing stats of variables
df2.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ClassSpecID,494.0,NaN,NaN,NaN,911884.609312,430255.368413,3243.0,770658.25,995667.0,1238149.75,1440204.0
EmployerID,494.0,NaN,NaN,NaN,2520.587045,1890.529268,141.0,1470.0,1923.0,2883.0,11263.0
Class_Title,494,272,Nurse Practitioner,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Class_Concept,439,419,<div>The purpose of this position is to serve ...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ExamplesOfDuties,420,406,A Job Specification is not maintained for this...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MinimumQualifications,404,389,<ul>\t<li>Valid CPR Certification\t<li>Must po...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SupplementalInfo,363,322,"<p style=""margin:0in;"">2 - Limited supervision...",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OtherRequirements,207,186,<div>Current licensure as a registered nurse i...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OtherTitle1,173,155,&nbsp;,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OtherTitle2,130,105,None,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLS_Major,439,7,Healthcare Practitioners and Technical Occupat...,373,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLS_Minor,439,8,Healthcare Diagnosing or Treating Practitioners,370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLS_Broad,439,10,Nurse Practitioners,268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLS_Detailed,439,11,Nurse Practitioners,268,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Count of unique values
# df2.Class_Title.nunique()
df2.ClassSpecID.nunique()

#check for nulls
df2.isnull().sum(axis=0)

ClassSpecID                0
EmployerID                 0
Class_Title                0
Class_Concept             55
ExamplesOfDuties          74
MinimumQualifications     90
SupplementalInfo         131
OtherRequirements        287
OtherTitle1              321
OtherTitle2              364
BLS_Major                 55
BLS_Minor                 55
BLS_Broad                 55
BLS_Detailed              55
dtype: int64

## Data Pre-processing:

In [ ]:
df2.fillna('', inplace=True)

In [ ]:
df2['New_JD'] = df2['Class_Concept'] + "<br><br>" + df2['ExamplesOfDuties'] + "<br><br>" + df2['MinimumQualifications'] + "<br><br>" + df2['SupplementalInfo']+ "<br><br>" + df2['OtherRequirements'] + "<br><br>" + df2['OtherTitle1'] + "<br><br>" + df2['OtherTitle2']
df2.head()

,ClassSpecID,EmployerID,Class_Title,Class_Concept,ExamplesOfDuties,MinimumQualifications,SupplementalInfo,OtherRequirements,OtherTitle1,OtherTitle2,BLS_Major,BLS_Minor,BLS_Broad,BLS_Detailed,New_JD
2358,3243,168,Assistant Caseworker II,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","<b><u>Knowledge of:</b></u> English usage, sp...",,,,,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides,To assess the social service needs of elderly ...
2360,3245,168,Assistant Caseworker I,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","<b><u>Knowledge of:</b></u> English usage, sp...",,,,,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides,To assess the social service needs of elderly ...
2419,3308,168,Nurse Practitioner,To perform physical screening assessments; to ...,"<b><u>DUTIES</b></u> may include, but are not ...",<b><u>NECESSARY EMPLOYMENT STANDARDS Knowledg...,,,,,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,To perform physical screening assessments; to ...
3571,4916,141,Family Nurse Practitioner,<strong>Bargaining Unit: CNA - Registered Nurs...,Positions in this class provide in-home or out...,<strong>License Required:</strong> Possession ...,<strong>Knowledge of:</strong><ul>\t<li>The me...,<strong>Under medical direction and consultati...,Established: August 1975<br>Revised: September...,,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,<strong>Bargaining Unit: CNA - Registered Nurs...
4394,5875,385,Nurse Practitioner,"Under general supervision, provide health care...","<strong>Duties may include, but are not limite...",<strong>Note: </strong>The level and scope of ...,,,Nurse Practitioner Trainee-Nurse Practitioner,"Established: 10/26/1978<br>Revised: 8/29/2005,...",Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,"Under general supervision, provide health care..."

In [ ]:
data = df2.copy()

def strip_html(text):
    soup = BeautifulSoup(text, "html.parser")
    return soup.get_text()

data['Class_Concept'] = data['Class_Concept'].apply(lambda x: strip_html(str(x)))
data['ExamplesOfDuties'] = data['ExamplesOfDuties'].apply(lambda x: strip_html(str(x)))
data['MinimumQualifications'] = data['MinimumQualifications'].apply(lambda x: strip_html(str(x)))
data['SupplementalInfo'] = data['SupplementalInfo'].apply(lambda x: strip_html(str(x)))
data['OtherRequirements'] = data['OtherRequirements'].apply(lambda x: strip_html(str(x)))
data['OtherTitle1'] = data['OtherTitle1'].apply(lambda x: strip_html(str(x)))
data['OtherTitle2'] = data['OtherTitle2'].apply(lambda x: strip_html(str(x)))

#Remove all the bullets in the text
# data['Class_Concept'] = data['Class_Concept'].apply(lambda x: str(x).replace('•', ''))
# data['ExamplesOfDuties'] = data['ExamplesOfDuties'].apply(lambda x: str(x).replace('•', ''))
# data['MinimumQualifications'] = data['ExamplesOfDuties'].apply(lambda x: str(x).replace('•', ''))
# data['ExamplesOfDuties'] = data['ExamplesOfDuties'].apply(lambda x: str(x).replace('•', ''))
# data['ExamplesOfDuties'] = data['ExamplesOfDuties'].apply(lambda x: str(x).replace('•', ''))
# data['OtherTitle1'] = data['OtherTitle1'].apply(lambda x: str(x).replace('•', ''))
# data['OtherTitle2'] = data['OtherTitle2'].apply(lambda x: str(x).replace('•', ''))

#Create Job Description column by merging Class_Concept, ExamplesOfDuties, MinimumQualifications, SupplementalInfo, OtherRequirements columns
data['Job_Desc'] = data[data.columns[3:9]].apply(lambda x: '. '.join(x.dropna().astype(str)), axis=1)

data.head()

,ClassSpecID,EmployerID,Class_Title,Class_Concept,ExamplesOfDuties,MinimumQualifications,SupplementalInfo,OtherRequirements,OtherTitle1,OtherTitle2,BLS_Major,BLS_Minor,BLS_Broad,BLS_Detailed,Job_Desc
2358,3243,168,Assistant Caseworker II,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","Knowledge of: English usage, spelling, gramma...",nan,nan,nan,nan,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides,To assess the social service needs of elderly ...
2360,3245,168,Assistant Caseworker I,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","Knowledge of: English usage, spelling, gramma...",nan,nan,nan,nan,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides,To assess the social service needs of elderly ...
2419,3308,168,Nurse Practitioner,To perform physical screening assessments; to ...,"DUTIES may include, but are not necessarily li...",NECESSARY EMPLOYMENT STANDARDS Knowledge of: ...,nan,nan,nan,nan,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,To perform physical screening assessments; to ...
3571,4916,141,Family Nurse Practitioner,Bargaining Unit: CNA - Registered Nurses Unit ...,Positions in this class provide in-home or out...,License Required: Possession of a valid licens...,"Knowledge of: The medical, biological and phys...","Under medical direction and consultation, does...",Established: August 1975Revised: September 200...,nan,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,Bargaining Unit: CNA - Registered Nurses Unit ...
4394,5875,385,Nurse Practitioner,"Under general supervision, provide health care...","Duties may include, but are not limited to, th...",Note: The level and scope of the knowledge and...,nan,nan,Nurse Practitioner Trainee-Nurse Practitioner,"Established: 10/26/1978Revised: 8/29/2005, 9/0...",Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,"Under general supervision, provide health care..."

In [ ]:
def replace_contractions(text):
    """Replace contractions in string of text"""
    return contractions.fix(text)

data['Job_Desc'] = data['Job_Desc'].apply(lambda x: replace_contractions(x))
# data.to_csv("/content/gdrive/My Drive/Colab Notebooks/Nurse_Assistants_Raw_JD.csv")
data.head()

,ClassSpecID,EmployerID,Class_Title,Class_Concept,ExamplesOfDuties,MinimumQualifications,SupplementalInfo,OtherRequirements,OtherTitle1,OtherTitle2,BLS_Major,BLS_Minor,BLS_Broad,BLS_Detailed,Job_Desc
2358,3243,168,Assistant Caseworker II,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","Knowledge of: English usage, spelling, gramma...",nan,nan,nan,nan,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides,To assess the social service needs of elderly ...
2360,3245,168,Assistant Caseworker I,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","Knowledge of: English usage, spelling, gramma...",nan,nan,nan,nan,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides,To assess the social service needs of elderly ...
2419,3308,168,Nurse Practitioner,To perform physical screening assessments; to ...,"DUTIES may include, but are not necessarily li...",NECESSARY EMPLOYMENT STANDARDS Knowledge of: ...,nan,nan,nan,nan,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,To perform physical screening assessments; to ...
3571,4916,141,Family Nurse Practitioner,Bargaining Unit: CNA - Registered Nurses Unit ...,Positions in this class provide in-home or out...,License Required: Possession of a valid licens...,"Knowledge of: The medical, biological and phys...","Under medical direction and consultation, does...",Established: August 1975Revised: September 200...,nan,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,Bargaining Unit: CNA - Registered Nurses Unit ...
4394,5875,385,Nurse Practitioner,"Under general supervision, provide health care...","Duties may include, but are not limited to, th...",Note: The level and scope of the knowledge and...,nan,nan,Nurse Practitioner Trainee-Nurse Practitioner,"Established: 10/26/1978Revised: 8/29/2005, 9/0...",Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,"Under general supervision, provide health care..."

# Create Pair-wise Master data

In [ ]:
# Subset the data
data2 = data[['ClassSpecID', 'EmployerID', 'Class_Title', 'Job_Desc','BLS_Detailed']]
data2.fillna('', inplace=True)
data2.dropna(how='all', axis=1, inplace=True)
print(data2.shape)
data2.head()

In [ ]:
#performs a cross-join
pair_master = pd.merge(data2, data2, how = 'left', left_on = ['EmployerID', 'BLS_Detailed'], right_on = ['EmployerID', 'BLS_Detailed'])
# pd.merge(final, data[['ClassSpecID', 'Cluster_ID']], how = 'left', left_on = 'ClassSpecID1', right_on = 'ClassSpecID')

# #rename columns
pair_master2 = pair_master.rename(columns={'ClassSpecID_x':'ClassSpecID1','ClassSpecID_y':'ClassSpecID2','Class_Title_x':'Class_Title1','Class_Title_y':'Class_Title2','EmployerID_x':'EmployerID1','EmployerID_y':'EmployerID2',\
        'Job_Desc_x':'Job_Desc1','Job_Desc_y':'Job_Desc2','BLS_Detailed_x':'BLS_Detailed1','BLS_Detailed_y':'BLS_Detailed2'})

# #rearrange columns and add pair_ID
pair_master2['Pair_ID'] = pair_master2['ClassSpecID1'].astype(str) + '-' + pair_master2['ClassSpecID2'].astype(str)
col_list = ['Pair_ID','ClassSpecID1','ClassSpecID2','Class_Title1','Class_Title2','EmployerID','BLS_Detailed','Job_Desc1','Job_Desc2']
pair_master2 = pair_master2[col_list]
pair_master2.to_csv('/content/gdrive/My Drive/Colab Notebooks/pair-master.csv')
print(pair_master2.shape)
pair_master2.head()

(1824, 9)

,Pair_ID,ClassSpecID1,ClassSpecID2,Class_Title1,Class_Title2,EmployerID,BLS_Detailed,Job_Desc1,Job_Desc2
0,3243-3243,3243,3243,Assistant Caseworker II,Assistant Caseworker II,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...
1,3243-3245,3243,3245,Assistant Caseworker II,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...
2,3243-1094664,3243,1094664,Assistant Caseworker II,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...
3,3245-3243,3245,3243,Assistant Caseworker I,Assistant Caseworker II,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...
4,3245-3245,3245,3245,Assistant Caseworker I,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...

In [ ]:
pair_master2 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/pair-master.csv')
print(pair_master2.shape)
# sample_titles = ['Community Health Assistant','Medical Assistant II', 'NURSING ASSISTANT','Nursing Supervisor']
    
# pair_master_5k = pair_master2[pair_master2['Class_Title1'].isin(sample_titles)]
pair_master3 = pair_master2.copy()

pair_master3['key'] = pair_master3.apply(lambda row: tuple(sorted((row['ClassSpecID1'], row['ClassSpecID2']))), axis=1)
pair_master3.drop_duplicates(subset=['key'], keep='first', inplace=True, ignore_index=False)
print(pair_master3.shape)
pair_master3.head()

(1824, 10)
(1159, 11)

,Unnamed: 0,Pair_ID,ClassSpecID1,ClassSpecID2,Class_Title1,Class_Title2,EmployerID,BLS_Detailed,Job_Desc1,Job_Desc2,key
0,0,3243-3243,3243,3243,Assistant Caseworker II,Assistant Caseworker II,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 3243)"
1,1,3243-3245,3243,3245,Assistant Caseworker II,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 3245)"
2,2,3243-1094664,3243,1094664,Assistant Caseworker II,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 1094664)"
4,4,3245-3245,3245,3245,Assistant Caseworker I,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3245, 3245)"
5,5,3245-1094664,3245,1094664,Assistant Caseworker I,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3245, 1094664)"

# Estimate Similarity Scores

# 1. Universal Sentence Encoder (USE)

### 1.1 Load Universal Sentence Encoder (USE) model from TF-Hub

In [ ]:
# pair_master = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/test.csv')

In [ ]:
module_url = "https://tfhub.dev/google/universal-sentence-encoder/4" 
model_USE = hub.load(module_url)
print ("module %s loaded" % module_url)

module https://tfhub.dev/google/universal-sentence-encoder/4 loaded

### 1.2. Compute the similarity between two job descriptions:

In [ ]:
def cosine(u, v):
    return np.dot(u, v) / (np.linalg.norm(u) * np.linalg.norm(v))

def cosine_similarity_USE(row):
    try:
        sentence1 = row.Job_Desc1
        sentence2 = row.Job_Desc2
        return round(float(cosine(model_USE([sentence1])[0], model_USE([sentence2])[0]) * 100), 2)
    except ValueError:
        return 0

def cosine_similarity_USE_Title(row):
    try:
        sentence1 = row.Class_Title1
        sentence2 = row.Class_Title2
        return round(float(cosine(model_USE([sentence1])[0], model_USE([sentence2])[0]) * 100), 2)
    except ValueError:
        return 0

In [ ]:
start_time = dt.now()
pair_master3["USE_sim"] = pair_master3.apply(cosine_similarity_USE, axis=1)
end_time = dt.now()
difference = end_time - start_time
print(f" Total time taken is {difference}")
pair_master3.head()

 Total time taken is 0:00:17.360558

,Unnamed: 0,Pair_ID,ClassSpecID1,ClassSpecID2,Class_Title1,Class_Title2,EmployerID,BLS_Detailed,Job_Desc1,Job_Desc2,key,USE_sim
0,0,3243-3243,3243,3243,Assistant Caseworker II,Assistant Caseworker II,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 3243)",100.00
1,1,3243-3245,3243,3245,Assistant Caseworker II,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 3245)",97.72
2,2,3243-1094664,3243,1094664,Assistant Caseworker II,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 1094664)",93.77
4,4,3245-3245,3245,3245,Assistant Caseworker I,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3245, 3245)",100.00
5,5,3245-1094664,3245,1094664,Assistant Caseworker I,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3245, 1094664)",93.60

### 1.3. Compute the similarity between two job titles:

In [ ]:
start_time = dt.now()
pair_master3["USE_Title_sim"] = pair_master3.apply(cosine_similarity_USE_Title, axis=1)
end_time = dt.now()
difference = end_time - start_time
print(f" Total time taken is {difference}")
pair_master3.head()

 Total time taken is 0:00:11.282559

,Unnamed: 0,Pair_ID,ClassSpecID1,ClassSpecID2,Class_Title1,Class_Title2,EmployerID,BLS_Detailed,Job_Desc1,Job_Desc2,key,USE_sim,USE_Title_sim
0,0,3243-3243,3243,3243,Assistant Caseworker II,Assistant Caseworker II,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 3243)",100.00,100.00
1,1,3243-3245,3243,3245,Assistant Caseworker II,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 3245)",97.72,76.32
2,2,3243-1094664,3243,1094664,Assistant Caseworker II,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 1094664)",93.77,76.98
4,4,3245-3245,3245,3245,Assistant Caseworker I,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3245, 3245)",100.00,100.00
5,5,3245-1094664,3245,1094664,Assistant Caseworker I,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3245, 1094664)",93.60,77.38

In [ ]:
# import copy
# #creates a new dataframe
# new_df = pd.DataFrame() 

# for index, row in pair_master_5k.iterrows():
#     new_row = copy.deepcopy(row)
#     new_dict = new_row.to_dict()
    
#     new_dict['USE_sim'] = cosine(model([new_dict['Job_Desc1']])[0], model([new_dict['Job_Desc2']])[0])

#     new_df=new_df.append(pd.DataFrame(new_dict, index = [0])) #, ignore_index=True

# # new_df.to_csv('/content/gdrive/My Drive/Colab Notebooks/Data Output From Python.csv')
# new_df.head()
# type(list(pair_master_5k.iloc[0,7]))

.

# 2. SentenceTransformers (SBERT)
### 2.1 Load SentenceTransformers (SBERT) model

In [ ]:
model_SBERT = SentenceTransformer("nli-distilroberta-base-v2")

### 2.2. Compute the similarity between two job descriptions::

In [ ]:
def cosine_similarity_SBERT(row):
    sentence1 = row.Job_Desc1
    sentence2 = row.Job_Desc2
    embedding1 = model_SBERT.encode([sentence1])
    embedding2 = model_SBERT.encode([sentence2])

    #Compute cosine similarity between all pairs
    return round(float(util.cos_sim(embedding1, embedding2)[0][0] * 100), 2) 


def cosine_similarity_SBERT_Title(row):
    sentence1 = row.Class_Title1
    sentence2 = row.Class_Title2
    embedding1 = model_SBERT.encode([sentence1])
    embedding2 = model_SBERT.encode([sentence2])

    #Compute cosine similarity between all pairs
    return round(float(util.cos_sim(embedding1, embedding2)[0][0] * 100), 2)

In [ ]:
start_time = dt.now()
pair_master3["SBert_sim"] = pair_master3.apply(cosine_similarity_SBERT, axis=1)
end_time = dt.now()
difference = end_time - start_time
print(f" Total time taken is {difference}")

 Total time taken is 0:00:26.034465

### 2.3. Compute the similarity between two job titles:

In [ ]:
start_time = dt.now()
pair_master3["SBert_Title_sim"] = pair_master3.apply(cosine_similarity_SBERT_Title, axis=1)
end_time = dt.now()
difference = end_time - start_time
print(f" Total time taken is {difference}")

 Total time taken is 0:00:17.162317

In [ ]:
# # Drop rows with SBert_Title_sim < 80
# pair_master3 = pair_master3.drop(pair_master[pair_master3.SBert_Title_sim < 80].index)
# # Drop rows with SBert_sim < 60
# pair_master3 = pair_master3.drop(pair_master[pair_master3.SBert_sim < 60].index)
# # Drop rows with 'DO NOT USE' in title
# pair_master3 = pair_master3.loc[~pair_master3.Class_Title1.str.contains("DO NOT USE", na=False)]
pair_master3.head()

,Unnamed: 0,Pair_ID,ClassSpecID1,ClassSpecID2,Class_Title1,Class_Title2,EmployerID,BLS_Detailed,Job_Desc1,Job_Desc2,key,USE_sim,USE_Title_sim,SBert_sim,SBert_Title_sim
0,0,3243-3243,3243,3243,Assistant Caseworker II,Assistant Caseworker II,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 3243)",100.00,100.00,100.00,100.00
1,1,3243-3245,3243,3245,Assistant Caseworker II,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 3245)",97.72,76.32,94.79,92.40
2,2,3243-1094664,3243,1094664,Assistant Caseworker II,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3243, 1094664)",93.77,76.98,95.18,89.82
4,4,3245-3245,3245,3245,Assistant Caseworker I,Assistant Caseworker I,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3245, 3245)",100.00,100.00,100.00,100.00
5,5,3245-1094664,3245,1094664,Assistant Caseworker I,Assistant Caseworker III,168,Home Health Aides,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,"(3245, 1094664)",93.60,77.38,92.68,88.46

In [ ]:
pair_master3.to_csv('/content/gdrive/My Drive/Colab Notebooks/Seniority_classification/Classification_Data.csv',index=False)

In [ ]:
pair_master3.shape

(1159, 15)

## Text Differences: extract seniority text

#### Method: difflib module

In [ ]:
import re

#creates a new dataframe
headers = columns = list(pair_master3)
final = pd.DataFrame() 


# pair_master2 = pair_master.copy()
# pair_master2 = pair_master[pair_master['Pair_ID']=='3245-1094664']
# pair_master2 = pair_master[~pair_master['Pair_ID'].isin(['1094664-3243'])]
# print(pair_master2.shape)

start_time = dt.now()

# Function that matches sentences 
#https://stackoverflow.com/questions/65702508/python-difflib-get-close-matches-comparing-modified-text-but-returning-original)
from difflib import SequenceMatcher, _nlargest  # necessary imports of functions used by modified get_close_matches

def get_close_matches_lower(word, possibilities, n=1, cutoff=0.70): 
  '''word: sentence to be matched from JD1(string)
     possibilities: list of sentences to be matched with in JD2
     n: sorts sentences on the basis of match accuracy and gives 1 result
     cutoff: match accuracy
  '''
  if not n >  0:
      raise ValueError("n must be > 0: %r" % (n,))
  if not 0.0 <= cutoff <= 1.0:
      raise ValueError("cutoff must be in [0.0, 1.0]: %r" % (cutoff,))
  result = []
  s = SequenceMatcher()
  s.set_seq2(word)
  for x in possibilities:
      s.set_seq1(x.lower())  # lower-case for comparison
      if s.real_quick_ratio() >= cutoff and \
          s.quick_ratio() >= cutoff and \
          s.ratio() >= cutoff:
          result.append((possibilities.index(x)+1, x))

  # Move the best scorers to head of list
  result = _nlargest(n, result)
  # Strip scores for the best n matches
  return result
  #[x for sent_id, x in result]

for index, row in pair_master3.iterrows():
  new_row = copy.deepcopy(row)
  # new_dict = new_row.to_dict
  
  #split the paragraph to sentences, and delete sentences of length<30 because no emglish sentence usually is less than that.
  from_lines = [x.strip() for x in re.split(r'[;:.]', new_row['Job_Desc1']) if len(x)>30]  
  to_lines = [x.strip() for x in re.split(r'[;:.]', new_row['Job_Desc2'])if len(x)>30]

  # print(len(from_lines))
  # print(len(to_lines))

  # print([get_close_matches_lower(x, to_lines) for x in from_lines])

  # Part-1: First round of matching (Get the sentences in JD-1 that match with JD-2)
  try:
    sent_ID1, from_lines1, senior_ID1, sent_ID2, to_lines1, senior_ID2 = zip(*[(from_lines.index(x)+1, x, 0, get_close_matches_lower(x, to_lines)[0][0], get_close_matches_lower(x, to_lines)[0][1], 0) for x in from_lines if len(get_close_matches_lower(x, to_lines))>0])
  except:
    sent_ID1, from_lines1, senior_ID1, sent_ID2, to_lines1, senior_ID2 = ([] for i in range(6)) #if above lists are empty due to no match, it throws an error

  # print(len(from_lines1))
  # print(len(to_lines1))
  # print(len(sent_ID1))
  # print(len(sent_ID2))

  # Create a new list by removing the matched sentences from the full list
  from_lines2 = [x for x in from_lines if x not in from_lines1]
  to_lines2 = [x for x in to_lines if x not in to_lines1]

  # print(len(from_lines2))
  # print(len(to_lines2))

  # Part-2: Second round of matching (Get the sentences in JD-2 that were not matched with JD-1 in the first round and try matching)
  try:
    sent_ID3, from_lines3, senior_ID3, sent_ID4, to_lines3, senior_ID4 = zip(*[(to_lines.index(x)+1, x, 0, get_close_matches_lower(x, from_lines)[0][0], get_close_matches_lower(x, from_lines)[0][1], 0) for x in to_lines2 if len(get_close_matches_lower(x, from_lines))>0])
  except:
    sent_ID3, from_lines3, senior_ID3, sent_ID4, to_lines3, senior_ID4 = ([] for i in range(6)) #if above lists are empty due to no match, it throws an error

  # Create a new list by removing the matched sentences from the non-matched list in the first round of matching
  from_lines4 = [x for x in from_lines2 if x not in from_lines3]
  sent_ID5 = [from_lines.index(x)+1 for x in from_lines4]
  to_lines4 = [x for x in to_lines2 if x not in to_lines3]
  sent_ID6 = [to_lines.index(x)+1 for x in to_lines4]

  # convert above lists into a pandas dataframe|
  data1 = pd.DataFrame(list(zip(sent_ID1, from_lines1, senior_ID1, sent_ID2, to_lines1, senior_ID2)),columns = ['sent_ID1', 'JD1', 'senior_ID1', 'sent_ID2', 'JD2', 'senior_ID2'])
  data2 = pd.DataFrame(list(zip(sent_ID3, from_lines3, senior_ID3, sent_ID4, to_lines3, senior_ID4)),columns = ['sent_ID1', 'JD1', 'senior_ID1', 'sent_ID2', 'JD2', 'senior_ID2'])
  data3 = pd.DataFrame({'sent_ID1': pd.Series(sent_ID5),'JD1': pd.Series(from_lines4), 'senior_ID1': pd.Series(['1']*len(from_lines4)), 'sent_ID2': pd.Series(['']*len(from_lines4)), 'JD2': pd.Series(['']*len(from_lines4)), 'senior_ID2': pd.Series(['']*len(from_lines4))})
  data4 = pd.DataFrame({'sent_ID1': pd.Series(['']*len(to_lines4)), 'JD1': pd.Series(['']*len(to_lines4)), 'senior_ID1': pd.Series(['']*len(to_lines4)), 'sent_ID2': pd.Series(sent_ID6), 'JD2': pd.Series(to_lines4), 'senior_ID2': pd.Series(['1']*len(to_lines4))})

  # join the sentences that did not match to create seniority texts
  data3.sort_values('sent_ID1')
  new_row['Seniority_text1'] = '. '.join(data3['JD1'])

  data4.sort_values('sent_ID2')
  new_row['Seniority_text2'] = '. '.join(data4['JD2'])

  new_row = new_row.to_frame().T

  final = final.append(new_row, ignore_index=True)

col_list1 = ['Pair_ID','ClassSpecID1','ClassSpecID2','Class_Title1','Class_Title2','EmployerID','Job_Desc1','Job_Desc2', 'Seniority_text1','Seniority_text2','USE_sim','USE_Title_sim','SBert_sim','SBert_Title_sim']
final = final[col_list1]

final.to_csv('/content/gdrive/My Drive/Colab Notebooks/Seniority_classification/Final.csv', index=False)

end_time = dt.now()
difference = end_time - start_time
print(f" Total time taken is {difference}")

final.head()

 Total time taken is 0:20:03.819677

,Pair_ID,ClassSpecID1,ClassSpecID2,Class_Title1,Class_Title2,EmployerID,Job_Desc1,Job_Desc2,Seniority_text1,Seniority_text2,USE_sim,USE_Title_sim,SBert_sim,SBert_Title_sim
0,3243-3243,3243,3243,Assistant Caseworker II,Assistant Caseworker II,168,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,DISTINGUISHING CHARACTERISTICS This is the jou...,DISTINGUISHING CHARACTERISTICS This is the jou...,100.0,100.0,100.0,100.0
1,3243-3245,3243,3245,Assistant Caseworker II,Assistant Caseworker I,168,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,DISTINGUISHING CHARACTERISTICS This is the jou...,DISTINGUISHING CHARACTERISTICS This is an entr...,97.72,76.32,94.79,92.4
2,3243-1094664,3243,1094664,Assistant Caseworker II,Assistant Caseworker III,168,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,DISTINGUISHING CHARACTERISTICS This is the jou...,DISTINGUISHING CHARACTERISTICSThis is an advan...,93.77,76.98,95.18,89.82
3,3245-3245,3245,3245,Assistant Caseworker I,Assistant Caseworker I,168,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,,determine client's initial social service need...,100.0,100.0,100.0,100.0
4,3245-1094664,3245,1094664,Assistant Caseworker I,Assistant Caseworker III,168,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,DISTINGUISHING CHARACTERISTICS This is an entr...,DISTINGUISHING CHARACTERISTICSThis is an advan...,93.6,77.38,92.68,88.46

## Clustering the jobs based on Job Descriptions

Reference: https://towardsdatascience.com/clustering-sentence-embeddings-to-identify-intents-in-short-text-48d22d3bf02e

## 4.1. Function to extract embeddings from the models

In [ ]:
def embed(model, model_type, sentences):
  """
  wrapper function for generating message embeddings
  """
  
  if model_type == 'use':
      embeddings = model(sentences)
  elif model_type == 'sentence transformer':
      embeddings = model.encode(sentences)
  
  return embeddings


JD_text = data['New_JD'].tolist() #change dataset name

# generate embeddings for each model
embeddings_USE = embed(model_USE, 'use', JD_text)
embeddings_SBERT = embed(model_SBERT, 'sentence transformer', JD_text)

In [ ]:
embeddings = [embeddings_USE, embeddings_SBERT]

for emb in embeddings:
  print(emb.shape)

(254, 512)
(254, 768)

## 4.2. Dimensionality Reduction using Uniform Manifold Approximation and Projection (UMAP)

Note-1: UMAP introduced in 2020 is much faster and more scalable than t-SNE

Note-2: Our sentence embeddings have high dimensionality (>500 features each). Curse of Dimensionality is that distance measures have little to no meaning. So dimensionality reduction is done before clustering to improve the results significantly.

Note-3: Density-based algorithms are a good option here as they do not require specifying the number of clusters and are indifferent to cluster shape. So we use Hierarchical Density-Based Spatial Clustering of Applications with Noise (HDBSCAN).

### 4.2.1. Function to Reduce dimensions and generate clusters

In [ ]:
def generate_clusters(message_embeddings,
                      n_neighbors,
                      n_components, 
                      min_cluster_size,
                      random_state = None):
    """
    Generate HDBSCAN cluster object after reducing embedding dimensionality with UMAP.
    The n_neighbors parameter controls the size of the neighborhood UMAP looks to learn the manifold structure, and so lower values of n_neighbors will focus more on the very local structure.
    The n_components parameter controls the dimensionality of the final embedded data after performing dimensionality reduction on the input data.
    In Angelov’s Top2Vec paper he mentions that n_neighbors = 15 and n_components = 5 worked best for his downstream tasks, but it is unlikely this would always be the case for any dataset.
    """
    
    umap_embeddings = (umap.UMAP(n_neighbors=n_neighbors, 
                                n_components=n_components, 
                                metric='cosine', 
                                random_state=random_state)
                            .fit_transform(message_embeddings))

    clusters = hdbscan.HDBSCAN(min_cluster_size = min_cluster_size,
                               metric='euclidean', 
                               cluster_selection_method='eom').fit(umap_embeddings)

    return clusters

In [ ]:
clusters_USE = generate_clusters(embeddings_USE, 15, 5, 5, random_state = None)

In [ ]:
# help(clusters_USE)
cluster_ID = clusters_USE.labels_.tolist()
# print(cluster_ID)
# clusters_USE.probabilities_
# print(len(set(clusters_USE.labels_)))
# Add cluster ID column to 'Data' dataset
data['Cluster_ID'] = cluster_ID
data.head()

,ClassSpecID,EmployerID,Class_Title,Class_Concept,ExamplesOfDuties,MinimumQualifications,SupplementalInfo,OtherRequirements,OtherTitle1,OtherTitle2,BLS_Major,BLS_Minor,BLS_Broad,BLS_Detailed,New_JD,Cluster_ID
2358,3243,168,Assistant Caseworker II,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","Knowledge of:. English usage, spelling, gramma...",nan,nan,nan,nan,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides,To assess the social service needs of elderly ...,0
2360,3245,168,Assistant Caseworker I,To assess the social service needs of elderly ...,"Attract, interview and screen potential home h...","Knowledge of:. English usage, spelling, gramma...",nan,nan,nan,nan,Healthcare Support Occupations,Home Health and Personal Care Aides; and Nursi...,Home Health and Personal Care Aides,Home Health Aides,To assess the social service needs of elderly ...,0
2419,3308,168,Nurse Practitioner,To perform physical screening assessments; to ...,"DUTIES. may include, but are not necessarily l...",NECESSARY EMPLOYMENT STANDARDS Knowledge of:....,nan,nan,nan,nan,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,To perform physical screening assessments; to ...,0
3571,4916,141,Family Nurse Practitioner,Bargaining Unit: CNA - Registered Nurses Unit....,Positions in this class provide in-home or out...,License Required:. Possession of a valid licen...,"Knowledge of:. The medical, biological and phy...","Under medical direction and consultation, does...",Established: August 1975. Revised: September 2...,nan,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,Bargaining Unit: CNA - Registered Nurses Unit....,0
4395,5876,385,Nurse Practitioner Trainee,"Under general supervision, provide primary hea...","Duties may include, but are not limited to, th...",Note:. The level and scope of the knowledge an...,nan,nan,nan,nan,Healthcare Practitioners and Technical Occupat...,Healthcare Diagnosing or Treating Practitioners,Nurse Practitioners,Nurse Practitioners,"Under general supervision, provide primary hea...",0

## Extract Cluster_ID column to Final dataset: perform a left-join

In [ ]:
final2 = pd.merge(final, data[['ClassSpecID', 'Cluster_ID']], how = 'left', left_on = 'ClassSpecID1', right_on = 'ClassSpecID')
final2 = final2.rename(columns={'ClassSpecID':'ClassSpecID_x','Cluster_ID':'Cluster_ID1'}) #rename columns
final2 = pd.merge(final2, data[['ClassSpecID', 'Cluster_ID']], how = 'left', left_on = 'ClassSpecID2', right_on = 'ClassSpecID')
final2 = final2.rename(columns={'ClassSpecID':'ClassSpecID_y','Cluster_ID':'Cluster_ID2'}) #rename columns
final2.head()

,Pair_ID,ClassSpecID1,ClassSpecID2,Class_Title1,Class_Title2,EmployerID,Job_Desc1,Job_Desc2,USE_sim,USE_Title_sim,SBert_sim,SBert_Title_sim,Seniority_text1,Seniority_text2,ClassSpecID_x,Cluster_ID1,ClassSpecID_y,Cluster_ID2
0,3243-3245,3243,3245,Assistant Caseworker II,Assistant Caseworker I,168,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,97.63,76.32,93.71,92.4,DISTINGUISHING CHARACTERISTICS This is the jou...,DISTINGUISHING CHARACTERISTICS This is an entr...,3243,0,3245,0
1,3243-1094664,3243,1094664,Assistant Caseworker II,Assistant Caseworker III,168,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,94.68,76.98,94.93,89.82,DISTINGUISHING CHARACTERISTICS This is the jou...,DISTINGUISHING CHARACTERISTICS. This is an adv...,3243,0,1094664,0
2,3245-1094664,3245,1094664,Assistant Caseworker I,Assistant Caseworker III,168,To assess the social service needs of elderly ...,To assess the social service needs of elderly ...,94.71,77.38,93.13,88.46,DISTINGUISHING CHARACTERISTICS This is an entr...,DISTINGUISHING CHARACTERISTICS. This is an adv...,3245,0,1094664,0
3,3308-915521,3308,915521,Nurse Practitioner,Nurse Practitioner - OB,168,To perform physical screening assessments; to ...,To perform physical screening assessments; to ...,91.67,84.6,96.04,85.27,and to plan patient follow-up care. SUPERVISIO...,and to plan patient follow-up care for patient...,3308,0,915521,0
4,54862-55548,54862,55548,Nurse Practitioner III,Nurse Practitioner I*,1204,"Under general direction, supervises Nurse Prac...",The Nurse Practitioner series describes levels...,82.17,80.72,81.55,89.06,"Under general direction, supervises Nurse Prac...",The Nurse Practitioner series describes levels...,54862,0,55548,0

In [ ]:
test.head()

,Sent_Id,ClassTitle,Assistant Caseworker I,Seniority_Ind,Unnamed: 4
0,1,Assistant Caseworker I,To assess the social service needs of elderly ...,0.0,NaN
1,2,Assistant Caseworker I,"and to participate in the identification, refe...",0.0,NaN
2,3,Assistant Caseworker I,DISTINGUISHING CHARACTERISTICS This is an entr...,1.0,NaN
3,5,Assistant Caseworker I,Assistant Caseworker I's are considered to be ...,1.0,NaN
4,6,Assistant Caseworker I,SUPERVISION RECEIVED AND EXERCISED Immediate s...,0.0,NaN

In [ ]:
test['Assistant Caseworker I'].nunique()

171